In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [44]:
def daten_laden() -> pd.DataFrame:
    df = pd.read_csv("buchungen.csv")
    df.datum = pd.to_datetime(df.datum)
    df = df.pivot(index='datum', columns='platz', values='name')
    return df

def build_woche(df) -> pd.DataFrame:
    # Erstellen des Datumsindex
    date_index = pd.date_range(datetime.datetime.now().date(), periods=5, freq='B')
    # Erstellen des leeren Wochen-DataFrames
    aktuelle_woche = pd.DataFrame(columns=range(1, 9), index=date_index)
    aktuelle_woche.index.names = ['datum']
    aktuelle_woche.columns.names = ['platz']
    return aktuelle_woche.combine_first(df)


df = daten_laden()
build_woche(df)

platz         1    2    3    4    5    6    7    8
datum
2024-02-02   AW   BR  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-05  NaN   BR  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-06  NaN  NaN  NaN  NaN  NaN  NaN  IWS  NaN
2024-02-07  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-08  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [15]:
# pivot umkehren
pivot.reset_index().melt(id_vars='datum', value_vars=pivot.columns[1:], var_name='platz', value_name='name')

       datum platz name
0 2024-02-02     2   BR
1 2024-02-05     2   BR
2 2024-02-06     2  NaN

In [ ]:
# montag und freitag der laufenden woche bestimmen

heute = datetime.date.today()
wochentag_heute = heute.weekday()  # Montag ist 0, Dienstag ist 1, ..., Sonntag ist 6

# Berechnung des letzten Montags
tage_bis_montag = datetime.timedelta(days=wochentag_heute)
letzter_montag = heute - tage_bis_montag

# Berechnung des n채chsten Freitags
tage_bis_freitag = datetime.timedelta(days=(4 - wochentag_heute))
naechster_freitag = heute + tage_bis_freitag
return (letzter_montag, naechster_freitag)

In [5]:
def get_mondays_and_fridays():
    today = datetime.today()
    start_day = today - timedelta(days=today.weekday()) - timedelta(weeks=1)  # Montag der Woche vor der letzten Woche
    end_day = start_day + timedelta(weeks=4)  # Drei Wochen ab jetzt

    mondays_and_fridays = []

    while start_day < end_day:
        if start_day.weekday() in [0, 4]:  # 0 steht f체r Montag und 4 steht f체r Freitag
            mondays_and_fridays.append(start_day)
        start_day += timedelta(days=1)

    return list(zip(mondays_and_fridays[::2], mondays_and_fridays[1::2]))  # Paare von Montagen und Freitagen

print(get_mondays_and_fridays())

[(datetime.datetime(2024, 1, 22, 17, 14, 27, 401610), datetime.datetime(2024, 1, 26, 17, 14, 27, 401610)), (datetime.datetime(2024, 1, 29, 17, 14, 27, 401610), datetime.datetime(2024, 2, 2, 17, 14, 27, 401610)), (datetime.datetime(2024, 2, 5, 17, 14, 27, 401610), datetime.datetime(2024, 2, 9, 17, 14, 27, 401610)), (datetime.datetime(2024, 2, 12, 17, 14, 27, 401610), datetime.datetime(2024, 2, 16, 17, 14, 27, 401610))]

In [4]:
# make a list of strings 1 to 9 
pl채tze = [str(i) for i in range(1, 9)]

In [ ]:
from streamlit import runtime
from streamlit.runtime.scriptrunner import get_script_run_ctx

def get_remote_ip() -> str:
    """Get remote ip."""
    try:
        ctx = get_script_run_ctx()
        if ctx is None:
            return None
        session_info = runtime.get_instance().get_client(ctx.session_id)
        if session_info is None:
            return None
    except Exception as e:
        return None
    return session_info.request.remote_ip

import streamlit as st

st.title("Title")
st.markdown(f"The remote ip is {get_remote_ip()}")