In [1]:
import pandas as pd
import datetime

In [44]:
def daten_laden() -> pd.DataFrame:
    df = pd.read_csv("buchungen.csv")
    df.datum = pd.to_datetime(df.datum)
    df = df.pivot(index='datum', columns='platz', values='name')
    return df

def build_woche(df) -> pd.DataFrame:
    # Erstellen des Datumsindex
    date_index = pd.date_range(datetime.datetime.now().date(), periods=5, freq='B')
    # Erstellen des leeren Wochen-DataFrames
    aktuelle_woche = pd.DataFrame(columns=range(1, 9), index=date_index)
    aktuelle_woche.index.names = ['datum']
    aktuelle_woche.columns.names = ['platz']
    return aktuelle_woche.combine_first(df)


df = daten_laden()
build_woche(df)

platz         1    2    3    4    5    6    7    8
datum
2024-02-02   AW   BR  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-05  NaN   BR  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-06  NaN  NaN  NaN  NaN  NaN  NaN  IWS  NaN
2024-02-07  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-08  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [15]:
# pivot umkehren
pivot.reset_index().melt(id_vars='datum', value_vars=pivot.columns[1:], var_name='platz', value_name='name')

       datum platz name
0 2024-02-02     2   BR
1 2024-02-05     2   BR
2 2024-02-06     2  NaN

In [ ]:
# montag und freitag der laufenden woche bestimmen

heute = datetime.date.today()
wochentag_heute = heute.weekday()  # Montag ist 0, Dienstag ist 1, ..., Sonntag ist 6

# Berechnung des letzten Montags
tage_bis_montag = datetime.timedelta(days=wochentag_heute)
letzter_montag = heute - tage_bis_montag

# Berechnung des n√§chsten Freitags
tage_bis_freitag = datetime.timedelta(days=(4 - wochentag_heute))
naechster_freitag = heute + tage_bis_freitag
return (letzter_montag, naechster_freitag)

In [3]:


# Anzeigen des DataFrames
print(df)

              1    2    3    4    5    6    7    8
2024-02-02  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-05  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-07  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-02-08  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN